extends simple

block article
	p Arch Linux は、x86-64 向けに独自に開発された、あらゆる用途に対応できる万能 GNU/Linux ディストリビューションです。その開発は、シンプリシティ、ミニマリズム、およびコードの簡潔性に焦点を当てています。Arch は最小限の基本システムの状態でインストールされ、ユーザー自身が、ユーザーの理想とする環境のために必要なものだけをインストールして構築することができます。GUI の構成設定ツールは公式には提供されず、ほとんどのシステム設定はシェル上でテキストファイルを編集することで行います。Arch はローリングリリースモデルをベースとしており、常に最先端であるように努め、ほとんどのソフトウェアは最新の安定バージョンが提供されます。
	p Arch Linux は独自の Pacman パッケージマネージャを使っており、それにシンプルなバイナリパッケージと使いやすいパッケージビルドシステムが加わります。Pacman によってユーザーは公式の Arch ソフトウェアからユーザー個人のパッケージやサードパーティのソースによるパッケージまで簡単な管理とカスタマイズができます。また、リポジトリシステムによってカスタムビルドスクリプト、パッケージ、リポジトリを楽に作成・運営することが可能であり、コミュニティの成長と貢献の足がかりになります。
	p 最小限の Arch ベースパッケージセットは効率化された [core] リポジトリに入っています。加えて様々なソフトウェアのニーズを満たすために [extra], [community], [testing] 公式リポジトリでは数千もの高品質なパッケージを提供しています。さらに Arch には Arch Linux User Repository (AUR) による [unsupported] セクションがあり、Arch Linux の makepkg アプリケーションを使ってソースからパッケージをコンパイルすることができる、9,000以上のビルドスクリプトが存在します。
	p Arch Linux では"ローリングリリース"システムが用いられ、一度きりのインストールで永続的なソフトウェアアップグレードが可能です。ある"バージョン"から次のバージョンに Arch Linux システムを再インストールしたりアップグレードする必要はありません。たった一つのコマンドを実行するだけで、Arch システムは最新状態に保たれ、最先端の技術を利用することができます。
	p Arch はパッケージを出来るかぎり元の上流のソフトウェアと近づくように務めています。パッチの類はアプリケーションのコンパイルに必要なときにだけ適用され、最新の Arch システムにインストールされた他のパッケージと上手く動作するように作られています。
	p 要約すると: Arch Linux は十分能力がある Linux&#0174; ユーザーの要件を満たすように設計された多目的でシンプルなディストリビューションです。強力かつ簡易な管理によって、サーバーやワークステーションなどの用途にうってつけのディストロとなっています。あなたの自由に舵を取って下さい。目指す形の GNU/Linux ディストリビューションというビジョンを共有していただけるのでしたら、歓迎します。自由に使って、コミュニティに参加したり貢献しましょう。Arch にようこそ！
	p.readmore Arch Linux の日本語コミュニティに関する詳細は<a href="https://www.archlinux.jp/people/" title="日本 Arch Linux ユーザー会">こちら</a>を見て下さい。
