extends simple

block article
	h3 プレス向け素材
	p 以下の Arch Linux ロゴは<a href="https://wiki.archlinux.jp/index.php/DeveloperWiki:%E3%83%88%E3%83%AC%E3%83%BC%E3%83%89%E3%83%9E%E3%83%BC%E3%82%AF%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC" title="Arch Linux Trademark Policy">商標ポリシー</a>の制限の下でプレスなどに利用することができます。
	p
		strong 2色の標準バージョン
		br
		em 印刷用に解像度を高くした <a href="/images/logo/archlinux-logo-dark-1200dpi.png" title="1200dpi PNG フォーマットのダウンロード">PNG</a> やスケーラブルな <a href="/images/logo/archlinux-logo-dark-scalable.svg" title="スケーラブルな SVG フォーマットのダウンロード">SVG</a> 形式のファイルも用意しています。
	img(src="/images/logo/archlinux-logo-dark-90dpi.png", alt="Arch Linux PNG ロゴ @ 90dpi", title="Arch Linux PNG ロゴ @ 90dpi")
	p
		strong 2色の反転バージョン
		span  (黒背景用)
		br
		em 印刷用に解像度を高くした <a href="/images/logo/archlinux-logo-light-1200dpi.png" title="1200dpi PNG フォーマットのダウンロード">PNG</a> やスケーラブルな <a href="/images/logo/archlinux-logo-light-scalable.svg" title="スケーラブルな SVG フォーマットのダウンロード">SVG</a> 形式のファイルも用意しています。
	img(src="/images/logo/archlinux-logo-light-90dpi.png", alt="Arch Linux PNG ロゴ @ 90dpi", title="Arch Linux PNG ロゴ @ 90dpi").inverted
	p
		strong 1色の標準バージョン
		br
		em 印刷用に解像度を高くした <a href="/images/logo/archlinux-logo-black-1200dpi.png" title="1200dpi PNG フォーマットのダウンロード">PNG</a> やスケーラブルな <a href="/images/logo/archlinux-logo-black-scalable.svg" title="スケーラブルな SVG フォーマットのダウンロード">SVG</a> 形式のファイルも用意しています。
	img(src="/images/logo/archlinux-logo-black-90dpi.png", alt="Arch Linux PNG ロゴ @ 90dpi", title="Arch Linux PNG ロゴ @ 90dpi")
	p
		strong 1色の反転バージョン
		span  (黒背景用)
		br
		em 印刷用に解像度を高くした <a href="/images/logo/archlinux-logo-white-1200dpi.png" title="1200dpi PNG フォーマットのダウンロード">PNG</a> やスケーラブルな <a href="/images/logo/archlinux-logo-white-scalable.svg" title="スケーラブルな SVG フォーマットのダウンロード">SVG</a> 形式のファイルも用意しています。
	img(src="/images/logo/archlinux-logo-white-90dpi.png", alt="Arch Linux PNG ロゴ @ 90dpi", title="Arch Linux PNG ロゴ @ 90dpi").inverted
	h3 コミュニティ向けロゴとアートワーク
	p 公式ロゴやアートワークやリポジトリから直接取得することもできます。現在、以下のパッケージが存在します:
	ul
		li <strong>archlinux-artwork</strong> - 公式ロゴとアイコン、CD ラベル
		li <strong>archlinux-wallpaper</strong> - 様々な解像度に対応したデスクトップ背景
		li <strong>archlinux-themes-kde</strong> - KDE テーマとアイコン
		li <strong>archlinux-themes-kdm</strong> - KDM ログインテーマ
		li <strong>archlinux-themes-slim</strong> - SLiM ログインテーマ
	p また、<a href="https://sources.archlinux.org/other/artwork/" title="アートワークのソースを確認">ソースファイルをダウンロード</a>することも可能です。
	h3 旧ロゴ
	p Arch のブランディングは何回か変更を重ねてきており、以下は過去に使用していたロゴです。もうあまり使われることはない画像ですが、ライセンス制限は守って下さい。何か疑問がありましたら <strong>trademarks@archlinux.org</strong> まで連絡してください。
	h4 Original Ribbon シリーズ
	div.imagelist
		img(src="/images/logo/legacy/arch-legacy-ribbon1.png", alt="Arch Ribbon ロゴ 1")
		img(src="/images/logo/legacy/arch-legacy-ribbon2.png", alt="Arch Ribbon ロゴ 2")
		img(src="/images/logo/legacy/arch-legacy-ribbon5.png", alt="Arch Ribbon ロゴ 5")
	div.imagelist
		img(src="/images/logo/legacy/arch-legacy-ribbon3.png", alt="Arch Ribbon ロゴ 3")
		img(src="/images/logo/legacy/arch-legacy-ribbon4.png", alt="Arch Ribbon ロゴ 4")
		img(src="/images/logo/legacy/arch-legacy-ribbon6.png", alt="Arch Ribbon ロゴ 6")
	h4 "Arch Blue" シリーズ
	div.imagelist
		a(href="/images/logo/legacy/arch-legacy-blue1.svg", title="Arch Blue")
			img(src="/images/logo/legacy/arch-legacy-blue1.png", alt="Arch Blue")
		a(href="/images/logo/legacy/arch-legacy-blue2.svg", title="Arch Blue Vertical")
			img(src="/images/logo/legacy/arch-legacy-blue2.png", alt="Arch Blue Vertical")
	h4 "Arch Aqua" シリーズ
	div.imagelist
		a(href="/images/logo/legacy/arch-legacy-aqua.svg", title="Arch Aqua")
			img(src="/images/logo/legacy/arch-legacy-aqua.png", alt="Arch Aqua")
		a(href="/images/logo/legacy/arch-legacy-aqua-blue.svg", title="Arch Aqua Blue")
			img(src="/images/logo/legacy/arch-legacy-aqua-blue.png", alt="Arch Aqua Blue")
		a(href="/images/logo/legacy/arch-legacy-aqua-white.svg", title="Arch Aqua White")
			img(src="/images/logo/legacy/arch-legacy-aqua-white.png", alt="Arch Aqua White")
	h4 Release-specific シリーズ
	div.imagelist
		a(href="/images/logo/legacy/arch-legacy-wombat-lg.png", title="Arch Wombat")
			img(src="/images/logo/legacy/arch-legacy-wombat.png", alt="Arch Wombat")
		a(href="/images/logo/legacy/arch-legacy-noodle-blue.svg", title="Arch Noodle Blue")
			img(src="/images/logo/legacy/arch-legacy-noodle-blue.png", alt="Arch Noodle Blue")
		a(href="/images/logo/legacy/arch-legacy-noodle-white.svg", title="Arch Noodle White")
			img(src="/images/logo/legacy/arch-legacy-noodle-white.png", alt="Arch Noodle White")
		a(href="/images/logo/legacy/arch-legacy-noodle-box.svg", title="Arch Box of Noodles")
			img(src="/images/logo/legacy/arch-legacy-noodle-box.png", alt="Arch Box of Noodles")
		a(href="/images/logo/legacy/arch-legacy-noodle-cup.svg", title="Arch Cup of Noodles")
			img(src="/images/logo/legacy/arch-legacy-noodle-cup.png", alt="Arch Cup of Noodles")
