extends simple

block article
	p Arch Linux が今まで生き残れているのはひとえにコミュニティやコア開発に参加している人々の不断の努力のおかげです。作業に対して金銭的な対価は受け取っていないため、サーバーコストは寄付金によって賄われています。
	p Arch Linux に貢献するには様々な手段があります。技術的な開発やドキュメントの整備、初心者のサポートなどがあまり得意ではない場合、数ドルでも寄付していただければ大きな助けになります。
	h3 金銭での寄付
	p 金銭的な寄付は <a href="https://co.clickandpledge.com/Default.aspx?WID=47294" title="Donate via Click&amp;Pledge to Arch Linux">Click&amp;Pledge</a> で受け付けています。Arch Linux は非営利団体 <a href="http://www.spi-inc.org/">Software in the Public Interest, Inc.</a> のメンバープロジェクトです。寄付金はホスト費用やサーバーハードウェアのアップグレードなどに使われます。SPI の詳細や<a href="http://www.spi-inc.org/donations/">寄付の受け入れ形態</a>について調べると良いでしょう。
	a(href="https://co.clickandpledge.com/Default.aspx?WID=47294")
		img(width="210", height="34", src="https://d11xdyzr0div58.cloudfront.net/static/click_and_pledge.f9247ed9b292.png", alt="Donate via Click&amp;Pledge to Arch Linux", title="Click&amp;Pledge で Arch Linux に寄付")
	h3 Arch Linux 関連商品
	ul
		li <a href="http://schwag.archlinux.ca/">Arch Schwag</a> - USB キー, ジュエリー, ケースバッジ
		li <a href="http://www.zazzle.com/archlinux*">Zazzle のプロダクト</a> - T シャツ, マグカップ, マウスパッド, フード, ポスター, スケートボード, 靴など
		li <a href="http://www.freewear.org/?page=list_items&amp;org=Archlinux">Freewear</a> - T シャツ
	h3 日本語コミュニティへの寄付
	p Arch Linux JP Project では Bitcoin で寄付を受け付けています。サーバー資源の提供などで支援していただける場合、<a href="https://archlinuxjp-slack.herokuapp.com/">Slack</a> でご連絡下さい。<br>Bitcoin アドレス: <a href="bitcoin:1L1ntGwsLT15ipoE7vttXVsVgzo17Ppzse">1L1ntGwsLT15ipoE7vttXVsVgzo17Ppzse</a> <a href="/images/qr.png"><i class="icon-qrcode" title="QR コード"></i></a>
