extends layout

block content
	div#pkgdetails.box
		h2= title.replace(" -", "")
		p パッケージには!{numf}個のファイルと!{numd}個のディレクトリが入っています。
		p
			a(href="../") パッケージに戻る
		div#metadata
			div#pkgfilelist
				ul
					- for(var i = 0; i < files.length; i++){
					li(class=files[i].type)= files[i].file
					- }
