extends layout

block content
	div#news-article-list.box
		h2 Arch Linux ニュースアーカイブ
		div.pagination
			p 記事数: 27。ページ: 1/1。
			p.news-nav
				span 1
		table#article-list.results
			thead
				tr
					th 公開日
					th 題名
					th 著者
			tbody
		div.pagination
			p 記事数: 27。ページ: 1/1。
			p.news-nav
				span 1
