extends simple

block article
	p 日本 Arch Linux ユーザー会 (Arch Linux JP Project) は Arch Linux の日本での普及を目指しています。高度な Linux コミュニティとして成熟し成長を続けている本家 Arch Linux コミュニティを手本として、フォーラムや Slack を使ってのユーザーのサポート、Arch Linux に関する情報の発信、ArchWiki の翻訳などの活動を通して日本の Arch Linux ひいては Linux 界全体に貢献します。
	p 積極的に参加したい方は、<a href="https://slack.archlinux.jp/">Slack</a> のコミュニティに登録したり、<a href="https://bbs.archlinux.jp/">フォーラム</a>に投稿したりして参加表明してください。特に何かをしなくてはならないということはないですが、実際に活動したいこと、あるいは組織としての活動に提案できることや意見があれば是非その旨をお知らせ下さい。フォーラムへの投稿や ArchWiki の編集・追加はいつでも歓迎です。臆せずに気楽に参加しましょう。
	p 以下はプロジェクトリーダーの Aaron Griffin をはじめ、Arch Linux の開発に携わったり本家コミュニティを運営しているメンバーリストのリンクです。
	ul
		li <a href="https://www.archlinux.org/people/developers/" title="開発者についての詳細">開発者</a> - Arch Linux の現在の開発者たちのリスト。[core] や [extra] リポジトリの管理、その他の開発作業を行っています。
		li <a href="https://www.archlinux.org/people/trusted-users/" title="Trusted User についての詳細">Trusted User</a> - [community] リポジトリを任されている身近な Arch Linux の Trusted User。
		li <a href="https://www.archlinux.org/people/support-staff/" title="サポートスタッフについての詳細">サポートスタッフ</a> - 舞台裏で働いている縁の下の力持ち。フォーラムモデレータ、Wiki 管理者、IRC モデレータ、ミラーメンテナ、その他 Linux ディストリとコミュニティが上手く回るように立ち振る舞ってくれている全ての人々。
		li <a href="https://www.archlinux.org/people/developer-fellows/" title="名誉開発者についての詳細">名誉開発者</a> - 先任の開発者のリスト。Arch が今日のようになるまで成長したのは皆さんのおかげです。
		li <a href="https://www.archlinux.org/people/trusted-user-fellows/" title="名誉 Trusted User についての詳細">名誉 Trusted User</a> - 先任の Trusted User のリスト。同上。
		li <a href="https://www.archlinux.org/people/support-staff-fellows/" title="名誉サポートスタッフについての詳細">名誉サポートスタッフ</a> - 先任のサポートスタッフのリスト。同上。
		li <a href="https://www.archlinux.org/master-keys/" title="パッケージやデータベースに署名されるマスターキー">マスター署名キー</a> - Arch Linux のマスターキーのリスト。
