/* navbar */
#archnavbaricon {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 45px !important;
    float: right;
}

#archnavbaricon i:before {
    font-family: "fontello";
    font-style: normal;
    content: '\e800';
    color: #DDD;
    cursor: pointer;
    font-size: 30px;
    line-height: 40px;
    margin-right: 5px;
}

#archnavbarmenu {
    display: none;
}

#archnavbarlist {
    float: none !important;
}

#archnavbarlist li {
    float: none !important;
    display: inline !important;
    line-height: 38px !important;
    pedding-right: 0 !important;
}

#archnavbarlist li:last-child {
    padding-right: 28px !important;
}

/* general layout */
body {
    min-width: initial !important;
}

#content-left-wrapper {
    float: none !important;
    width: auto !important;
}

#content-left {
    margin: 0 !important;
}

#content-right {
    float: none !important;
    width: auto !important;
    margin-left: 0 !important;
}

/* home: pkgsearch box */
#pkgsearch {
    margin-top: 1.5em;
}

/* home: news */
#news div p, #news div ul {
    word-wrap: break-word;
}

/* pkglist: results navigation */
.pkglist-stats {
    padding: 0 0.65em;
}

#pkglist-results, #exact-matches {
    overflow: auto;
    padding: 0.65em 0;
}

#pkgdetails #detailslinks {
    float: none;
}

#pkgdetails #pkginfo td {
    word-break: break-all;
    white-space: normal;
}

/* art img */
#artwork img {
    max-width: 90%;
    height: auto;
}

#svn pre {
    overflow-x: auto;
}
