h4
	a(href="/news/php-70-packages-released/", title="全文を読む: PHP 7.0 パッケージがリリースされました") PHP 7.0 パッケージがリリースされました
p.timestamp 2016-01-03
div.article-content
	include ../views/news/php-70-packages-released.html
h4
	a(href="/news/dropping-plasma-4/", title="全文を読む: Plasma 4 のサポート終了") Plasma 4 のサポート終了
p.timestamp 2015-12-12
div.article-content
	include ../views/news/dropping-plasma-4.html
h4
	a(href="/news/c-abi-change/", title="全文を読む: C++ ABI の変更") C++ ABI の変更
p.timestamp 2015-12-10
div.article-content
	include ../views/news/c-abi-change.html
h4
	a(href="/news/xorg-1180-enters-testing/", title="全文を読む: Xorg 1.18.0 が [testing] に入りました") Xorg 1.18.0 が [testing] に入りました
p.timestamp 2015-11-13
div.article-content
	include ../views/news/xorg-1180-enters-testing.html
h4
	a(href="/news/d-bus-now-launches-user-buses/", title="全文を読む: D-Bus はユーザーバスを起動します") D-Bus はユーザーバスを起動します
p.timestamp 2015-09-20
div.article-content
	include ../views/news/d-bus-now-launches-user-buses.html
