tr
	td.pkg-name
		span.community emby-server 3.0.5783.0-1
	td.pkg-arch <a href="/packages/community/i686/emby-server/" title="emby-server [community] の詳細">i686</a>/<a href="/packages/community/x86_64/emby-server/" title="emby-server [community] の詳細">x86_64</a>
tr
	td.pkg-name
		span.community-testing php-mongodb 1.1.1-1
	td.pkg-arch <a href="/packages/community-testing/i686/php-mongodb/" title="php-mongodb [community-testing] の詳細">i686</a>/<a href="/packages/community-testing/x86_64/php-mongodb/" title="php-mongodb [community-testing] の詳細">x86_64</a>
tr
	td.pkg-name
		span.community gaupol 0.28.2-3
	td.pkg-arch <a href="/packages/community/any/gaupol/" title="gaupol [community] の詳細">any</a>
tr
	td.pkg-name
		span.community libmongoc 1.3.0-1
	td.pkg-arch <a href="/packages/community/i686/libmongoc/" title="libmongoc [community] の詳細">i686</a>/<a href="/packages/community/x86_64/libmongoc/" title="libmongoc [community] の詳細">x86_64</a>
tr
	td.pkg-name
		span.community libbson 1.3.0-2
	td.pkg-arch <a href="/packages/community/i686/libbson/" title="libbson [community] の詳細">i686</a>/<a href="/packages/community/x86_64/libbson/" title="libbson [community] の詳細">x86_64</a>
tr
	td.pkg-name
		span.community skype-call-recorder 0.11-1
	td.pkg-arch <a href="/packages/community/i686/skype-call-recorder/" title="skype-call-recorder [community] の詳細">i686</a>/<a href="/packages/community/x86_64/skype-call-recorder/" title="skype-call-recorder [community] の詳細">x86_64</a>
tr
	td.pkg-name
		span.extra libreoffice-still 4.4.7-3
	td.pkg-arch <a href="/packages/extra/i686/libreoffice-still/" title="libreoffice-still [extra] の詳細">i686</a>/<a href="/packages/extra/x86_64/libreoffice-still/" title="libreoffice-still [extra] の詳細">x86_64</a>
tr
	td.pkg-name
		span.extra libreoffice-still-sdk 4.4.7-3
	td.pkg-arch <a href="/packages/extra/i686/libreoffice-still-sdk/" title="libreoffice-still-sdk [extra] の詳細">i686</a>/<a href="/packages/extra/x86_64/libreoffice-still-sdk/" title="libreoffice-still-sdk [extra] の詳細">x86_64</a>
tr
	td.pkg-name
		span.community taskjuggler3 3.5.0-12
	td.pkg-arch <a href="/packages/community/any/taskjuggler3/" title="taskjuggler3 [community] の詳細">any</a>
tr
	td.pkg-name
		span.community-testing php-memcache 3.0.8-4
	td.pkg-arch <a href="/packages/community-testing/i686/php-memcache/" title="php-memcache [community-testing] の詳細">i686</a>/<a href="/packages/community-testing/x86_64/php-memcache/" title="php-memcache [community-testing] の詳細">x86_64</a>
tr
	td.pkg-name
		span.extra libreoffice-fresh 5.0.4-3
	td.pkg-arch <a href="/packages/extra/i686/libreoffice-fresh/" title="libreoffice-fresh [extra] の詳細">i686</a>/<a href="/packages/extra/x86_64/libreoffice-fresh/" title="libreoffice-fresh [extra] の詳細">x86_64</a>
tr
	td.pkg-name
		span.extra libreoffice-fresh-sdk 5.0.4-3
	td.pkg-arch <a href="/packages/extra/i686/libreoffice-fresh-sdk/" title="libreoffice-fresh-sdk [extra] の詳細">i686</a>/<a href="/packages/extra/x86_64/libreoffice-fresh-sdk/" title="libreoffice-fresh-sdk [extra] の詳細">x86_64</a>
tr
	td.pkg-name
		span.community you-get 0.4.232-1
	td.pkg-arch <a href="/packages/community/any/you-get/" title="you-get [community] の詳細">any</a>
tr
	td.pkg-name
		span.community rftg 0.9.4.q-1
	td.pkg-arch <a href="/packages/community/i686/rftg/" title="rftg [community] の詳細">i686</a>/<a href="/packages/community/x86_64/rftg/" title="rftg [community] の詳細">x86_64</a>
tr
	td.pkg-name
		span.extra mkvtoolnix-gui 8.7.0-1
	td.pkg-arch <a href="/packages/extra/i686/mkvtoolnix-gui/" title="mkvtoolnix-gui [extra] の詳細">i686</a>/<a href="/packages/extra/x86_64/mkvtoolnix-gui/" title="mkvtoolnix-gui [extra] の詳細">x86_64</a>
