dt 2015-08-14
dd
	a(href="/news/openssh-70p1-deprecates-ssh-dss-keys/", title="全文を読む: openssh-7.0p1 で ssh-dss 鍵が無効になります") openssh-7.0p1 で ssh-dss 鍵が無効になります
dt 2015-07-08
dd
	a(href="/news/new-domain/", title="全文を読む: archlinuxjp.org ドメインを取得しました") archlinuxjp.org ドメインを取得しました
dt 2015-05-22
dd
	a(href="/news/data-corruption-on-software-raid-0-when-discard-is-used/", title="全文を読む: discard を有効にしたときにソフトウェア RAID 0 で発生するデータ破損について") discard を有効にしたときにソフトウェア RAID 0 で発生するデータ破損について
dt 2015-05-17
dd
	a(href="/news/puppet-40-enters-community/", title="全文を読む: Puppet 4.0 が [community] に入りました") Puppet 4.0 が [community] に入りました
dt 2015-05-16
dd
	a(href="/news/pulseaudio-split/", title="全文を読む: PulseAudio のパッケージ分割について") PulseAudio のパッケージ分割について
dt 2015-02-15
dd
	a(href="/news/xorg-server-1171-is-now-available/", title="全文を読む: xorg-server 1.17.1 が来ました") xorg-server 1.17.1 が来ました
dt 2015-01-26
dd
	a(href="/news/transition-of-kde-software-to-the-kde-framework-and-qt-5/", title="全文を読む: KDE ソフトウェアが KDE Frameworks と Qt 5 に移行") KDE ソフトウェアが KDE Frameworks と Qt 5 に移行
dt 2015-01-20
dd
	a(href="/news/packaging-changes-in-lirc-092/", title="全文を読む: lirc 0.9.2 におけるパッケージの変更") lirc 0.9.2 におけるパッケージの変更
dt 2014-12-11
dd
	a(href="/news/ca-certificates-update/", title="全文を読む: ca-certificates のアップデート") ca-certificates のアップデート
dt 2014-12-08
dd
	a(href="/news/gnupg-21-and-the-pacman-keyring/", title="全文を読む: GnuPG-2.1 と pacman のキーリング") GnuPG-2.1 と pacman のキーリング
