<p>アクセシビリティ機能が <a href="https://gitlab.archlinux.org/archlinux/archiso/-/tags/v49">archiso v49</a> によりインストールメディアに追加されたことをお知らせします。
リリース 2020.11.01 以降、ブートローダーの2つ目のメニューアイテムから使用できます。
wiki に <a href="https://wiki.archlinux.jp/index.php/%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B7%E3%83%93%E3%83%AA%E3%83%86%E3%82%A3%E6%A9%9F%E8%83%BD%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%A6_Arch_Linux_%E3%82%92%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AB">専用のインストールガイド</a> があります。</p>
<p><a href="https://wiki.archlinux.jp/index.php/TalkingArch">TalkingArch</a> プロジェクトからの機能を、インストールメディアを作成するのに使われる archiso の releng プロファイルと連携させた、Alexander Epaneshnikov に感謝します。</p>
<p>メモ: ブートローダー自体はアクセシビリティ機能を提供しないため、目の不自由なユーザーがメニューアイテムを選択できるように、ブートローダーのタイムアウトは15秒にセットされています。</p>

