<p>We are very happy to announce that accessibility features have been added to our installation medium with <a href="https://gitlab.archlinux.org/archlinux/archiso/-/tags/v49">archiso v49</a>.
From release 2020.11.01 onward these are available via the 2nd boot loader
menu item. A <a href="https://wiki.archlinux.org/index.php/Install_Arch_Linux_with_accessibility_options">specific installation guide</a> can be found on the wiki.</p>
<p>Many thanks go to Alexander Epaneshnikov who integrated the features from the <a href="https://wiki.archlinux.org/index.php/TalkingArch">TalkingArch</a> project into archiso's releng profile, which is used for creating the installation medium.</p>
<p>Note: The boot loader timeouts have been set to 15s to allow blind users to select the menu item as the boot loaders themselves do not offer accessibility features.</p>

