<p>On the 10th and 11th of October there is going to be an online edition of Arch
Conf. The conference is going to have presentations from the Arch team along
with community submitted presentations and lightning talks.</p>
<p>We are proud to announce the first revision of the schedule!</p>
<p><a href="https://pretalx.com/arch-conf-online-2020/talk/">https://pretalx.com/arch-conf-online-2020/talk/</a></p>
<p>The conference timezone is CEST/UTC+2: <a href="https://everytimezone.com/s/40cc4784">https://everytimezone.com/s/40cc4784</a></p>
<p>Updates and additional information can be found on the conference page: <a href="https://conf.archlinux.org">https://conf.archlinux.org</a></p>
<p>See you there!</p>
<p>Cheers from the conference team.</p>
