<p>10月の10日と11日に、Arch Conf のオンライン版が開催されます。
カンファレンスでは、Arch チームからのプレゼンテーション、
コミュニティから送信されたプレゼンテーションとライトニングトークがあります。</p>
<p>初版のスケジュールを公表できることを嬉しく思います！</p>
<p><a href="https://pretalx.com/arch-conf-online-2020/talk/">https://pretalx.com/arch-conf-online-2020/talk/</a></p>
<p>カンファレンスのタイムゾーンは CEST/UTC+2 です。 <a href="https://everytimezone.com/s/40cc4784">https://everytimezone.com/s/40cc4784</a></p>
<p>アップデートと追加情報はカンファレンスページを見てください。 <a href="https://conf.archlinux.org">https://conf.archlinux.org</a></p>
<p>是非参加してください！</p>
<p>カンファレンスチームからのお知らせでした。</p>
