<p>The <code>base</code> group has been replaced by a metapackage of the same name. We advise users to install this package (<code>pacman -Syu base</code>), as it is effectively mandatory from now on.</p>
<p>Users requesting support are expected to be running a system with the base package.</p>
<p>Addendum:<br>
Be aware that <code>base</code> as it stands does not currently contain:<br>
- A kernel<br>
- An editor<br>
... and other software that you might expect. You will have to install these separately on new installations.</p>
