<p>We are very happy to announce that debug packages are now available in Arch Linux.</p>
<p>Debug symbols and source listing are provided through our debuginfod instance which can be utilized by debuggers such as gdb and delve.</p>
<p><a href="https://debuginfod.archlinux.org/">https://debuginfod.archlinux.org/</a></p>
<p>A couple of sponsored mirrors are providing the debug repositories while we figure out and communicate the new <a href="https://wiki.archlinux.org/title/DeveloperWiki:NewMirrors">mirror requirements</a>.</p>
<ul>
<li><a href="https://america.mirror.pkgbuild.com">https://america.mirror.pkgbuild.com</a></li>
<li><a href="https://asia.mirror.pkgbuild.com">https://asia.mirror.pkgbuild.com</a></li>
<li><a href="https://europe.mirror.pkgbuild.com">https://europe.mirror.pkgbuild.com</a></li>
</ul>
<p>Not all packages provide debug packages as enabling it for all packages is an ongoing effort.</p>
<p>For more information, please visit the <a href="https://wiki.archlinux.org/title/Debuginfod">Debuginfod</a> wiki article, and also our newly renovated <a href="https://wiki.archlinux.org/title/Debugging/Getting_traces">Debugging/Getting traces</a> article.</p>
