<p>Arch Linux でデバッグパッケージが利用可能になったことを報告できることを嬉しく思います。</p>
<p>デアッグシンボルとソースリストは、gdb や delve から利用できる debuginfod インスタンスにより提供されます。</p>
<p><a href="https://debuginfod.archlinux.org/">https://debuginfod.archlinux.org/</a></p>
<p>新しい <a href="https://wiki.archlinux.org/title/DeveloperWiki:NewMirrors">ミラーの要求事項</a> を決定して連絡するまでの間、いくつかのスポンサーされたミラーは debug リポジトリを提供しています。</p>
<ul>
<li><a href="https://america.mirror.pkgbuild.com">https://america.mirror.pkgbuild.com</a></li>
<li><a href="https://asia.mirror.pkgbuild.com">https://asia.mirror.pkgbuild.com</a></li>
<li><a href="https://europe.mirror.pkgbuild.com">https://europe.mirror.pkgbuild.com</a></li>
</ul>
<p>全てのパッケージに対しての有効化を引き続き進めているため、現時点で全てのパッケージがデバッグパッケージを提供するわけではありません。</p>
<p>詳しくは、<a href="https://wiki.archlinux.jp/index.php/Debuginfod">Debuginfod</a> wiki ページや、書き直した <a href="https://wiki.archlinux.jp/index.php/デバッグ/トレースを取得">デバッグ/トレースを取得</a> ページを参照してください。</p>
