extends ../article

block body
	p KDE 4 デスクトップのメンテナンスがされなくなってから数カ月が経ち、2つのバージョンの Plasma をサポートするのが段々と難しくなってきているため、Plasma 4 をリポジトリから削除することに決めました。Plasma 5.5 が既にリリースされており、Plasma 4 を置き換えるのに十分なほど安定しています。
	p KDE 4 は自動的には Plasma 5 にアップグレードされません。しかしながら、できるかぎり早いうちに Plasma 5 にアップグレードすることを推奨します。KDE 4 デスクトップを破壊するようなアップグレードが予告なく導入される可能性があります。Plasma 5 へのアップグレード方法については <a href="https://wiki.archlinuxjp.org/index.php/KDE#Plasma_4_.E3.81.8B.E3.82.89_5_.E3.81.AB.E3.82.A2.E3.83.83.E3.83.97.E3.82.B0.E3.83.AC.E3.83.BC.E3.83.89">wiki</a> を参照してください。
