<p><code>systemd</code> がデフォルトの init システムになったため、Arch Linux を <code>initscripts</code> 環境で動作させたときのテストはほとんど行われていません。リソースの不足および関心が薄れているため、<code>initscripts</code> 特有のバグを修正する作業は打ち切って WONTFIX としてクローズします。</p>
<p>ユーザーは出来る限り迅速に <code>systemd</code> に移行することを強く推奨します。<a href="https://wiki.archlinux.jp/index.php/Systemd"><code>systemd</code> の移行ガイド</a>を見てください。</p>
<p>移行を容易にするために <code>initscripts</code> のサポートもしばらくの間続けられてきましたが、2013年1月より <code>initscripts</code> のサポート (例: <code>rc</code> スクリプト) を個別のパッケージから削除していく予定です。</p>
