<p>Arch Linux インストールメディアの10月リリースが<a href="https://www.archlinux.jp/download/">ダウンロード</a>できるようになりました。新しく Arch Linux をインストールしたりレスキュー環境として使用することができます。最新パッケージの収録に加えて以下の変更があります:</p>
<ul>
<li>ライブ環境を立ち上げるのに systemd が使われます。</li>
<li>ライブ環境では initscripts は使われなくなりますが新規環境にはデフォルトでインストールされます。将来的には変わる予定です。</li>
<li>EFI ブートとセットアップが簡単になりました。</li>
<li>gummiboot によって EFI 環境でメニューが表示されるようになっています。</li>
<li>ライブ環境で次のパッケージが新しく利用できるようになりました: ethtool, fsarchiver, gummiboot-efi, mc, partclone, partimage, refind-efi, rfkill, sudo, testdisk, wget, xl2tpd。</li>
</ul>
