<p>バージョン 17.0.1-2 より前の <code>keycloak</code> パッケージは WildFly サーバーで実行されていました。アップストリームが公式に <a href="https://www.keycloak.org/2020/12/first-keycloak-x-release.adoc">Quarkus ディストリビューション</a> に移行したため、Arch Linux はこのアプローチに追従します。これは更新に対応作業が必要なことを意味します。</p>
<p>古い <code>.xml</code> 形式から新しい <code>/etc/keycloak/keycloak.conf</code> に設定を調整する必要があります。</p>
<p>更新の前に keycloak サービスを停止して、パッケージを更新したら起動する前に設定を移行してください:</p>
<pre><code>systemctl stop keycloak.service
pacman -Syu keycloak
# 設定を /etc/keycloak/keycloak.conf へ移行
systemctl start keycloak.service
</code></pre>
<p>詳しくは Keycloak の <a href="https://www.keycloak.org/migration/migrating-to-quarkus">移行ドキュメント</a> と Keycloak Quarkus <a href="https://www.keycloak.org/server/configuration">サーバードキュメント</a> を参照してください。</p>
