<p>We would like to hold a bug wrangling day on the 13th of September to reduce the large amount of open tickets.
If you cannot take part in the bug wrangling day, then feel free to help us any time before that event.</p>
<h3>How?</h3>
<p>Please review all bugs that were reported by you and check if they are still
valid. Please request a task closure on the bug tracker if the task may be closed. Otherwise please provide further information so that we can continue to work on the bug.
We cannot fix bugs without your feedback.</p>
<h3>Questions?</h3>
<p>Join us at #archlinux-bugs channel on irc.freenode.net during 13th of September. As we live in different timezones not all devs and bug wranglers will be available at the same time, but feel free to report your issues to any dev available.</p>
<p>Also please check your mailboxes that may contain notifications about comments made on your tickets.</p>
