<p>ここ最近で読んだことのある人もいるかもしれませんが、<a href="https://freenode.net">freenode.net</a> ネットワークで所有権に関する論争があります。この IRC ネットワークは Arch Linux と他のたくさんのプロジェクトにより、過去何十年もの間議論とサポートのためのプラットフォームとして使用されてきました。
論争はほとんどの freenode スタッフのネットワークからの流出を招き、新しいネットワークを立ち上げました: <a href="https://libera.chat">libera.chat</a>。</p>
<p>今日から、Arch Linux とその姉妹プロジェクト <a href="https://archlinuxarm.org">Arch Linux ARM</a> と <a href="https://archlinux32.org">Arch Linux 32</a> は公式 IRC チャンネルを freenode.net から libera.chat に移行します。完了するまでには少し時間がかかるかもしれませんが、ご了承ください。</p>
<p>私達は、freenode コミュニティの長期間にわたるよいサービスと協力に感謝しています。</p>
