<p>systemd によるプロファイルベースのネットワーク設定 CLI である netctl を紹介します。将来的に、旧式の netcfg は <code>[core]</code> から削除されます。netcfg を使用しているユーザーは netctl に移行することを推奨します。移行は手動で行う必要があり、その間インターネットにアクセスできなくなる可能性があるため、十分注意して man ページを読んで移行してください (netctl(1), netctl.profile(5), netctl.special(7))。</p>
<p>netctl の設計は systemd ユーザーと netcfg ユーザー双方にとって習熟しやすいものになっています。netctl には wifi-menu という名前の ncurses ベースの wifi 接続アシスタントが付属します。</p>
<p>netctl をインストールすると netcfg は削除されますが、有効化済みの systemd サービスは手動で無効化するまで残り続けます。netcfg からの移行に関する情報は <a href="https://wiki.archlinux.jp/index.php/Netctl">netctl の wiki ページ</a>を見てください。</p>
