<p>The nss and lib32-nss packages prior to version 3.51.1-1 were missing a soname link each. This has been fixed in 3.51.1-1, so the upgrade will need to overwrite the untracked files created by ldconfig. If you get any of these errors</p>
<pre><code>nss: /usr/lib/p11-kit-trust.so exists in filesystem
lib32-nss: /usr/lib32/p11-kit-trust.so exists in filesystem
</code></pre>
<p>when updating, use</p>
<pre><code>pacman -Syu --overwrite /usr/lib\*/p11-kit-trust.so
</code></pre>
<p>to perform the upgrade.</p>
