<p>開発者とコミュニティの間で i686 の人気が低下しているため、私たちはこのアーキテクチャのサポートを段階的に廃止することに決めました。</p>
<p>この決定は2月のISOが32ビットの Arch Linux をインストールできる最後のものであることを意味します。次の9ヶ月は非推奨期間で、i686 はこの期間の間は引き続きアップグレードパッケージを取得できます。2017年11月からはパッケージングやリポジトリツールでもメンテナは必要なくなり、事実上 i686 はサポートされなくなります。</p>
<p>しかし、i686 を生かし続けることには依然として関心がありますので、私たちの指針でコミュニティがそれを実現するように奨励したいと思います。Freenodeの <a href="https://lists.archlinux.org/listinfo/arch-ports">arch-ports</a> メーリングリストと #archlinux-ports IRCチャンネル は、さらなる協調のために使用されます。</p>
<p>[multilib]リポジトリはこの変更の影響を受けません。</p>