<p>php パッケージが <a href="https://www.php.net/releases/8.0/ja.php">バージョン 8.0</a> にアップデートされました。アップストリームの
<a href="https://www.php.net/manual/ja/migration80.php">移行ガイド</a> を参照してください。いくつかのアプリケーションは
まだ PHP 8 に対応していないため、バージョン 8 と同時にインストールできる <a href="https://www.archlinux.jp/packages/extra/x86_64/php7/">php7</a>
パッケージを提供しています。PHP に依存するパッケージはこの更新を反映し、必要であれば php7 を必要とします。それに従い、
設定を変更する必要があるかもしれません。PHP 7 バイナリと設定は末尾に "7" がついています。</p>
<ul>
<li>/usr/bin/php -&gt; /usr/bin/php7</li>
<li>/etc/php -&gt; /etc/php7</li>
<li>/usr/bin/php-fpm -&gt; /usr/bin/php-fpm7</li>
<li>/usr/lib/systemd/system/php-fpm.service -&gt; /usr/lib/systemd/system/php-fpm7.service</li>
<li>/run/php-fpm -&gt; /run/php-fpm7</li>
</ul>
<p>PHP 7 のためにコンパイルされたサードパーティーのモジュールも提供しています。</p>
<ul>
<li><a href="https://www.archlinux.jp/packages/extra/x86_64/php7-apcu/">php7-apcu</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-geoip/">php7-geoip</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-grpc/">php7-grpc</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-igbinary/">php7-igbinary</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-imagick/">php7-imagick</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-memcache/">php7-memcache</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-memcached/">php7-memcached</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-mongodb/">php7-mongodb</a></li>
<li><a href="https://www.archlinux.jp/packages/community/x86_64/php7-redis/">php7-redis</a></li>
</ul>
<p>php7 のサポートは <a href="https://www.php.net/supported-versions.php">限定されており</a>、ほとんどのアプリケーションが
どのくらい早くバージョン 8 に対応するかによりますが、およそ 1 年程度で提供されなくなる可能性が高いことに
注意してください。</p>
