<p>2年前に、私たちは <a href="/news/pkgstats-contribution-was-never-that-easy/">pkgstats</a> を導入しました。今回、大きな変更が加えられたため、もう一度 pkgstats を紹介します。</p>
<p>貢献するにはパッケージをインストールするだけです。週に1回実行される cron ジョブが後はすべてやってくれます。システムにインストールされているパッケージのリストと使用しているアーキテクチャ、ミラーの情報が私たちに送信されます。この情報は匿名で、あなたを捕捉するのに使われることはありません。得られた情報は Arch をより良くするために使われます。pkgstats の噂を広めてください。</p>
<p>詳しくは <tt>pkgstats -h</tt> を見たり、ソースコードを読んだり、<a href="https://bbs.archlinux.org/viewtopic.php?id=105431">フォーラム</a>を見てください。収集されたデータは<a href="https://www.archlinux.de/?page=Statistics">統計ページ</a>で確認できます。</p>
