<p>動的ライブラリが欠けたモジュールが存在しないように <code>pulseaudio</code> からいくつかのモジュールが分割されました。必要なモジュールを確認して再インストールするようにしてください。</p>
<p>分割されたモジュールは以下の通りです:</p>
<ul>
<li><code>pulseaudio-bluetooth</code>: Bluetooth (Bluez) のサポート</li>
<li><code>pulseaudio-equalizer</code>: Equalizer sink (qpaeq)</li>
<li><code>pulseaudio-gconf</code>: GConf のサポート (paprefs)</li>
<li><code>pulseaudio-jack</code>: JACK sink, source と jackdbus の検出</li>
<li><code>pulseaudio-lirc</code>: 赤外線 (LIRC) ボリュームコントロール</li>
<li><code>pulseaudio-xen</code>: Xen 準仮想化 sink</li>
<li><code>pulseaudio-zeroconf</code>: Zeroconf (Avahi/DNS-SD) のサポート</li>
</ul>