<p>Puppet 4 がリリースされましたが Puppet 4 はバージョン3と互換性がありません。そのためクライアントをアップデートする前に、ユーザーはサーバーを Puppet 4 にアップグレードする必要があります。Puppet 4 サーバーしか使えなくなると、Puppet 3 クライアントは動作しなくなります。また、設定ファイルや、マニフェスト、モジュールファイルなどの場所が変更されています。以下のアップグレードの手順に従ってサーバーとクライアントをアップグレードしてください:</p>
<ul>
<li><a href="https://docs.puppetlabs.com/puppet/4.0/reference/upgrade_server.html">https://docs.puppetlabs.com/puppet/4.0/reference/upgrade_server.html</a></li>
<li><a href="https://docs.puppetlabs.com/puppet/4.0/reference/upgrade_agent.html">https://docs.puppetlabs.com/puppet/4.0/reference/upgrade_agent.html</a></li>
</ul>