<p>Python のメジャーアップデートが testing リポジトリから移動されたため、あなたが使用しているミラーから利用できるようになります。デフォルトの "python" パッケージは現在 3.x シリーズとなっており、2.x シリーズについては "python2" パッケージに移動しました。python-2.7 が python-2.x シリーズの最後のメジャーリリースとなる予定です。</p>
<p><code>/usr/bin/python</code> が 3.x バイナリになるため、2.x を必要とするプログラムは <code>/usr/bin/python2</code> を使わなければなりません。公式リポジトリのパッケージは全てそれにあわせて更新されていますが、まだ問題が残っていたら (フォーラムやメーリングリストではなく) バグトラッカーに報告してください。</p>
<p>Python を使っている AUR やサードパーティのパッケージあるいはプロジェクトは移行にあわせてアップデートが必要です。まだ Python 3 に対応していないプログラムが多数存在するためです。</p>
