<p>qemu 7.0.0 へのアップデートで、パッケージはメタパッケージを利用した
より細かい分割パッケージに変更されました。</p>
<ul>
<li><code>qemu</code> パッケージは <code>qemu-base</code> と <code>qemu-desktop</code>、
  <code>qemu-full</code> メタパッケージにより仮想的に提供されます。</li>
<li><code>qemu</code> 7.0.0 までの機能は
  <code>qemu-desktop</code> に置き換えられます</li>
<li><code>qemu-headless</code> の機能は
  <code>qemu-base</code> に置き換えられます</li>
<li><code>qemu-arch-extra</code> と <code>qemu-headless-arch-extra</code>
  の機能は <code>qemu-emulators-full</code> に置き換えられます</li>
<li><code>qemu-full</code> メタパッケージは全ての QEMU 関連の
  パッケージ (<code>qemu-guest-agent</code> 以外) を提供します</li>
</ul>
