<p>arch-general メーリングリストでの議論を受けて、セキュリティに関係する様々なコンパイル・リンクフラグの性能への影響をテストするため、pid1 によって test-sec-flags が作成されました (他にも anthraxx, strcat, sangy, rgacogne が携わっています)。セキュリティを高めるフラグを Arch Linux パッケージの新しいデフォルトにしてもよいのかどうか確かめることが test-sec-flags の目的です。これまでのテスト結果によれば、現在使用しているコンパイルフラグと比べて新しいフラグによるパフォーマンスの劣化は少ないとみられますが、私たちは実際にフラグをデフォルトにする前に、さらなる調査・比較をしたいと考えています。</p>
<p>test-sec-flags は<a href="https://github.com/pid1/test-sec-flags">こちら</a>からソースをダウンロードすることができ、README にインストール・使用方法が書かれています。results サブディレクトリには、テストファイルから有意な統計情報を弾き出す方法が記載されています。</p>
<p>テスト結果については GitHub の <a href="https://github.com/pid1/test-sec-flags/wiki">test-sec-flags wiki</a> に拾集中です。あなたの環境で実行した結果も追加してください。特に、今まで実行された環境はどれも x86_64 だったので、i686 における結果を待望しています。</p>
<p>パッチも歓迎です。</p>
