<p>こんにちは皆さん</p>
<p>Arch に深く関わりだした頃から知っている方もいるかもしれませんが、多くの方は webサイトで私の名を知ったでしょう。私はしばらく Arch に関わり続け、2007年には Judd からこの獣のリーダーシップを引き継ぎました。しかし、よくあるように私の関与は時間とともに最小レベルにまで低下してしまいました。今こそ変化が必要な時でしょう。</p>
<p>Arch Linux には厳しい決断を下し、プロジェクトを正しく導くリーダーシップが必要です。私はそれを遂行できる立場にありません。</p>
<p>チームの努力により、 Arch Linux のスタッフは今後のリーダーを決定する新しいプロセスを考案しました。今後、リーダーは2年の任期でスタッフにより選出されます。この新たな選出プロセスの詳細は<a href="https://wiki.archlinux.org/index.php/DeveloperWiki:Project_Leader">こちら</a>を参照してください</p>
<p>最初の公式投票は Levente Polyak (anthraxx), Gaetan Bisson (vesath), Giancarlo Razzolini (grazzolini), and Sven-Hendrik Haase (svenstaro) を候補者として行われ、58の検証された投票により当選者が選ばれました:</p>
<p><strong>Levente Polyak (anthraxx) がこの船の手綱を引き継ぎます。おめでとう!</strong></p>
<p><em>今までありがとうございました<br>
Aaron Griffin (phrakture)</em></p>
