<p>Hello everyone,</p>
<p>Some of you may know me from the days when I was much more involved in Arch, but most of you probably just know me as a name on the website. I’ve been with Arch for some time, taking the leadership of this beast over from Judd back in 2007. But, as these things often go, my involvement has slid down to minimal levels over time. It’s high time that changes.</p>
<p>Arch Linux needs involved leadership to make hard decisions and direct the project where it needs to go. And I am not in a position to do this.</p>
<p>In a team effort, the Arch Linux staff devised a new process for determining future leaders. From now on, leaders will be elected by the staff for a term length of two years. Details of this new process can be found <a href="https://wiki.archlinux.org/index.php/DeveloperWiki:Project_Leader">here</a></p>
<p>In the first official vote with Levente Polyak (anthraxx), Gaetan Bisson (vesath), Giancarlo Razzolini (grazzolini), and Sven-Hendrik Haase (svenstaro) as candidates, and through 58 verified votes, a winner was chosen:</p>
<p><strong>Levente Polyak (anthraxx) will be taking over the reins of this ship. Congratulations!</strong></p>
<p><em>Thanks for everything over all these years,<br>
Aaron Griffin (phrakture)</em></p>
