<p>The new version comes with the following changes:</p>
<ul>
    <li>
        <p>xf86-input-libinput is the default input driver, however synaptics, evdev and wacom are still available.</p>
    </li>
    <li>
        <p>These packages are deprecated and moved to AUR:
xf86-input-joystick, xf86-input-acecad, xf86-video-apm, xf86-video-ark, xf86-video-chips, xf86-video-glint, xf86-video-i128, xf86-video-i740, xf86-video-mach64, xf86-video-neomagic, xf86-video-nv, xf86-video-r128, xf86-video-rendition, xf86-video-s3, xf86-video-s3virge, xf86-video-savage, xf86-video-siliconmotion, xf86-video-sis, xf86-video-tdfx, xf86-video-trident, xf86-video-tseng</p>
    </li>
</ul>
