<p>新しいバージョンでは以下の変更があります:</p>
<ul>
<li>
<p>X は systemd-logind によってルートレスになり、ログインするのに使ったのと同じ仮想ターミナルから起動しなくてはならなくなり、stderr をリダイレクトするとルートレスログインは破壊されます。Xorg.wrap 設定ファイルを使うことで昔のままのルート実行に戻すことができます (man xorg.wrap)。ログインマネージャ (gdm, kdm, ...) による X 起動ではルートレスアクセスはまだ出来ないので注意してください。</p>
</li>
<li>
<p>デフォルトの設定ファイルは /usr/share/X11/xorg.conf.d に入ることになりました。ホストの設定は /etc/X11/xorg.conf.d/ ディレクトリのままです。/etc/X11/xorg.conf.d 内の 10-evdev.conf と 10-quirks.conf ファイルには名前の末尾に .pacsave が付くことがあり、設定が壊れる可能性があります。そのときは .pacsave の部分を削除するように名前を変更してください。</p>
</li>
<li>
<p>glamor によるレンダリング支援が改善し、<code>glamor-egl</code> パッケージは廃止されました。</p>
</li>
<li>
<p>新しいパッケージ <code>xorg-server-xwayland</code> によって wayland セッションの中で X アプリケーションを動作させることができます。</p>
</li>
<li>
<p><code>xf86-video-intel</code> パッケージは複数のレンダリングバグが存在するため dri3 サポートを提供しないようにしました。</p>
</li>
</ul>