<p>新しいバージョンには、以下の変更が加えられています:</p>
<ul>
    <li>
        <p>xf86-input-libinput はデフォルトの入力ドライバですが、 synaptics, evdev,および wacom は引き続き使用できます。</p>
    </li>
    <li>
        <p>これらのパッケージは廃止され、AURに移行されました:
xf86-input-joystick, xf86-input-acecad, xf86-video-apm, xf86-video-ark, xf86-video-chips, xf86-video-glint, xf86-video-i128, xf86-video-i740, xf86-video-mach64, xf86-video-neomagic, xf86-video-nv, xf86-video-r128, xf86-video-rendition, xf86-video-s3, xf86-video-s3virge, xf86-video-savage, xf86-video-siliconmotion, xf86-video-sis, xf86-video-tdfx, xf86-video-trident, xf86-video-tseng</p>
    </li>
</ul>
